body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  /* background-color: #333; */
  overflow: hidden;
}

.navbar li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
}

.navbar li:hover {
  color: rgb(202 138 4 / var(--tw-text-opacity));
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 300ms;
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.125rem/* 18px */;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(202 138 4 / var(--tw-text-opacity));
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
}

.dropdown-content li:hover {
  color: #f9f9f9;
}

.dropdown-content ul:hover {
  background-color: rgb(202 138 4 / var(--tw-text-opacity));
  color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
  overflow: hidden;
}

.dropdown:hover .dropbtn {
  background-color: rgb(202 138 4 / var(--tw-text-opacity));
  color: #f9f9f9;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 300ms;
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
