@media screen and (max-width: 768px) {
.welcome {
    background: url('./images/mainswipe1.JPG');
    height: 50vh;
    background-size: cover;
    background-position: center;
}
}
@media screen and (min-width: 769px){
    .welcome {
        background: url('./images/mainswipe1.JPG');
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
}